<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand text-danger" href="#">TOMATO</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        </div>
      </nav>
      <hr color="pink">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <div class="row mt-5">
        <div class="col-sm-6">
          <h3>Reset password for</h3>
          <form action="" #setpassform="ngForm" (ngSubmit)="setpassfun(setpassform)">
            <div class="form-group">
              <label for="">New Password</label>
              <input type="password" required placeholder="New Password" name="password1" class="form-control" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" minlength="8" #newpass1="ngModel" ngModel>
              <div *ngIf="newpass1.touched && (newpass1.invalid || setpassform.submitted)">
                <div class="text-danger" *ngIf="newpass1.errors?.required">
                  This field is required
                </div>
                <div class="text-danger" *ngIf="newpass1.errors?.pattern || newpass1.errors?.minlength">
                  This is weak password (Please ensure it contains minimum 8 characters, at least one letter, one number and one special character:)
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="">Confirm new Password</label>
              <input type="password" required placeholder="New Password" name="password2" class="form-control" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" #newpass2="ngModel" minlength="8" ngModel>
              <div *ngIf="newpass2.touched && (newpass2.invalid || setpassform.submitted)">
                <div class="text-danger" *ngIf="newpass2.errors?.required">
                  This field is required
                </div>
              </div>
            </div>
            <div class="text-danger" *ngIf="newpass1.touched && newpass2.touched">
              <div *ngIf="newpass1.value!=newpass2.value">
                Password should match
              </div>
            </div>
            
            <input type="submit" class="btn btn-success" value="Change password" [disabled]="(!setpassform.valid) || (newpass1.value!=newpass2.value)">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

